[bbox:{{bbox}}];
( 
  way[highway];
);
out body;>;out skel qt;



{{style:

way
{color:#605f5f; width:3; opacity:1; dashes:0;}

way[man_made=cutline],
way[width>1]
{width:6;color:#605f5f;dashes:0;}



way[surface=asphalt]
{width:4;color:white;dashes:0;}

way[surface=asphalt][man_made=cutline],
way[surface=asphalt][width>1]
{width:6;color:white;dashes:0;}



way[surface=paved],
way[surface=concrete],
way[surface=concrete:lanes],
way[surface=concrete:plates],
way[surface=paving_stones],
way[surface=sett],
way[surface=unhewn_cobblestone],
way[surface=cobblestone],
way[surface=metal]
{width:4;color:#8b8b8b;dashes:0;}



way[surface=compacted],
way[surface=fine_gravel]
{width:4;color:#fffa71;dashes:0;}

way[surface=compacted][man_made=cutline],
way[surface=fine_gravel][man_made=cutline]
way[surface=compacted][width>1],
way[surface=fine_gravel][width>1]
{width:8;color:#fffa71;dashes:0;}



way[surface=gravel],
way[surface=pebblestone],
way[surface=gravel_turf],
way[surface=wood]
{width:4;color:#f4664e;dashes:0;}

way[man_made=cutline][surface=gravel],
way[man_made=cutline][surface=pebblestone],
way[man_made=cutline][surface=gravel_turf],
way[man_made=cutline][surface=wood],
way[surface=gravel][width>1],
way[surface=pebblestone][width>1],
way[surface=gravel_turf][width>1],
way[surface=wood][width>1]
{width:8;color:#f4664e;dashes:0;}



way[surface=dirt],
way[surface=mud]
{width:3;color:#1c7f39;dashes:0;}

way[surface=dirt][man_made=cutline],
way[surface=dirt][man_made=cutline][width>1],
way[surface=mud][man_made=cutline],
way[surface=mud][man_made=cutline][width>1]
{width:6;color:#1c7f39;dashes:0;}



way[smoothness=bad],
way[smoothness=very_bad],
way[smoothness=horrible],
way[smoothness=very_horrible],
way[smoothness=impassable],
way[trail_visibility=bad],
way[trail_visibility=horrible],
way[trail_visibility=no],
way[tracktype=grade4],
way[tracktype=grade5]
{width:3;color:#605f5f;dashes:4,12;}

way[incline][incline!=0][incline!=0%]
{color:#b24056; width:3; opacity:1; dashes:0;}

way[highway=steps]
{color:#b24056; width:3; opacity:1; dashes:1,4;}



node {opacity:0;fill-opacity:0;}

}}